@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
  /* line-height: 20px */
}

/* 모바일 수평 스크롤 금지 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
}

/* mini phone */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* phone */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* desktop */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* super desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.react-multiple-carousel__arrow {
  z-index: 49 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset !important;
  -webkit-text-fill-color: #fff !important;
}

.lh-2 {
  line-height: 1.5;
}
.c-p {
  cursor: pointer;
}
.h-150 {
  height: 150px;
}

.h-350 {
  height:350px;
}
.w-100p {
  width: 100%;
}
.w-200 {
  width: 200px;
}
.w-150 {
  width: 150px;
}
.w-120 {
  width: 120px;
}

.w-50 {
  width: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-20 {
  margin-top: 20px;
}

.mtb-10 {
  margin: 10px 0;
}
.mtb-50 {
  margin: 50px 0;
}

.mtb-10 {
  margin: 10px 0;
}
.color-btn {
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
  border: none;
  background-color: #00C9A9;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
}
.color-btn:hover {
  box-shadow:0px 0px 0px 5px rgba(0,201,169, 0.4);
}
.info-text {
  letter-spacing: 5px;
  line-height: 2;
}
.fc-main {
  color: #00C9A9;
}
.fc-dark {
  color: #333;
}
.fc-white {
  color: #eee;
}
.fc-muted {
  color: #aaa;
}

.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-12 {
  font-size: 12px;
}
.fw-bold {
  font-weight: bold;
}
aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #00C9A9;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  background-color: transparent;
  z-index: 50;
  color: #fff;
  transition: all 0.5s;

}

.non-top{
  background-color: rgba(255,255,255,1); 
  color: #333;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
  gap: 6px;
}


.navbar-menu {
  display: flex;
}

.navbar-menu li {
  cursor: pointer;
  margin: 0 8px;
  padding: 12px 10px;
  border-radius: 12px;
  font-weight: 600;
}

.navbar-menu li:hover {
  background-color: rgba(2,32,71,0.05);
}

.hamburger{
  display: none;
  position: absolute;
  right: 32px;
  top: 16px;
}
.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
.non-top .hamburger .line {
  background-color: #333;
}

/* phone */
@media screen and (max-width:576px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-menu {
    display: none;
    
  }
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-menu li {
    width: 100%;
    text-align: center;
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .line:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Delete IOS Style */
input, textarea, button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.header-door {
  position: relative;
  height: 100vh;
  background: url(./../images/door-long.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  overflow: hidden;
}
.header-shelf {
  position: relative;
  /* height: 100vh; */
  height: 100vh;
  background: url(./../images/shelf.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  overflow: hidden;
  /* animation:fade 2s ease-in-out; */
}
@keyframes fade {
  from {
    /* opacity: .5; */
    height: 100vh;
  }
  40% {
    height: 100vh;
  }
  to {
    /* opacity: 1; */
    height: 0vh;
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  .header-door {
    background-image: url(./../images/door-wide.jpg);
  }
}
/* IOS Only */
@supports (-webkit-touch-callout: none) {
  .header-shelf,
  .header-door {
    background-attachment: scroll; 	
  } 
}

.header-shelf .overlay,
.header-door .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
  font-weight: bold;
  color: #fff;
}
.subtitle {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 10px;
  text-align: center;
  opacity: .8;
  color: #fff;
  margin: 10px 0;
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}

.mouse-icon {
  border: 3px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
  cursor: pointer;
  transition: all .3s ease;
}

.mouse-icon:hover {
  box-shadow:0px 0px 0px 5px rgba(0,201,169, .5);
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 3px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1.4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.shape svg {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
  bottom: 0;
}
/* tablet */
@media (min-width: 768px) {
  .shape svg {
    bottom: -15px;
  }
}
/* desktop */
@media screen and (min-width: 992px) {
  .shape svg {
    /* bottom: -30px; */

    display: none;
  }
}

.shape svg path {
  fill: #f8f8f8;
}




.grey-background {
  background-color: #efefef !important;
}

.center-text {
  text-align: center;
}

.main-book-1 {
  width: 340px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -10px 22px 29px 0px #7f818e;
  transition: all .3s ease-in-out;
}

.main-book-2 {
  width: 340px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -10px 22px 29px 0px #222;
  transition: all .3s ease-in-out;
}

.border-top-line{
  width: 100%;
  border-top: .5px #444 solid;
  padding: 30px 0 0 0;
  text-align: center;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.content-info-left {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}
.content-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px 0;
}
.content-info-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  gap: 50px;
}

.content-info-left .info-text {
  margin: 150px 0;
  text-align: left;
}
.content-info-right .info-text {
  margin: 150px 0;
  text-align: right;
}
.content-info-between-1,
.content-info-between-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 70px 0 100px 0;
}
/* tablet */
@media screen and (max-width:991px) {
  .info-text {
    font-size: 24px;
  }
  .main-book-2,
  .main-book-1 {
    width: 220px;
  }
  .flex-sp-box {
    flex-direction: column-reverse;
    justify-content: center;
    align-self: center;
    gap: 50px;
  }
}
/* phone */
@media screen and (max-width:575px) {
  .main-book-2,
  .main-book-1 {
    width: 200px;
  }
  .info-text {
    font-size: 22px;
  }
  .flex-box {
    flex-direction: column;
    gap: 0;
  }
  .content-info-left,
  .content-info-right {
    align-items: center;
    /* gap: 50px; */
  }
  .content-info-left {
    flex-direction: column-reverse;
  }
  .content-info-left .info-text,
  .content-info-right .info-text {
    margin: 30px 0;
    text-align: center;
  }
  .content-info-between-1 {
    flex-direction: column;
  }
  .content-info-between-2 {
    flex-direction: column-reverse
  } 
}



.bg-dark-full-vh {
  background-color: #26292F;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: #eee;
  
}
.bg-white-full-p {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100%;
  min-height: 500px;
  position: relative;
  /* overflow: hidden; */
  background-size: cover;
  padding: 100px 0;

}

.footer-bg-dark {
  background-color: #26292F;
  width: 100%;
  min-height: 200px;
  position: relative;
  /* overflow: hidden; */
  background-size: cover;
  padding: 20px 0 50px 0;
}

.flex-col-box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flex-col-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-sp-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-section {
  margin: 60px 0;
  padding: 20px 0;
  /* height: 100%; */
}
/* phone */
@media screen and (max-width:575px) {
  .content-section {
    margin: 30px 0;
  }
}

.white-box {
  /* background-color: #2F4858; */
  /* padding: 30px 40px; */
  /* color: #333; */
  /* border-radius: 20px; */
  /* box-shadow: 3px 10px 15px 3px #1414147f; */
  /* box-shadow: -10px 22px 29px 0px #7f818e; */

}
.input-styled {
  border: none;
  border-bottom: #aaa 2px solid;
  margin-bottom: 8px;
  padding: 5px 12px;
  background: transparent;
}
.input-styled:focus {
  outline: none;
  border-color: #00C9A9;
}

strong:hover {
  text-decoration: underline;
  color: #00C9A9;
}



#interactive.viewport {
  width: 400px;
  height: 300px;
}

#interactive.viewport canvas,
video {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 400px;
  height: 300px;
}

.center-overlay {
  box-shadow: 0 6px 500px rgb(93 100 122 / 80%);
  border-radius: 16px;
  margin: 50px 0;
  padding: 20px 30px;
}

.content-box {
  box-shadow: 0 6px 500px rgb(93 100 122 / 80%);
  border-radius: 16px;
  margin: 0 30px;
  padding: 20px 30px;
}

.content-box input{
}

.content-box textarea{
  width: 100%;
}


.grey-full-bg {
  background-color: #CACACA;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  
}

.cement-wallpaper {
  height: 100%;
  background-image: url(./../images/cement2.jpg);
  /* background-image: url(./../images/cement.png); */
  /* background: linear-gradient(to bottom, black, transparent); */
  background-size: contain;

}
.store-wrapper {
  display: flex;
}

.gallery-area {
  padding: 70px 0px 170px 0;
  
}
.gallery-area h1 {
  /* text-shadow: 1px 3px #333; */
  letter-spacing: 3px;
}



/* x, y , blur, spread, color */
.wood-shelf{
  border-top: solid .5px sandybrown;
  margin-bottom: 100px;
  background-image: url(./../images/wood2.jpg);
  /* background-color: #AE8A74; */
  box-shadow: 2px 10px 20px 8px #141414;
  height: 8px;
  /* width: 100%; */
  z-index: 99;
  position: relative;
  z-index: 1;
}


.book-dynamic {
  height: 170px;
  margin: 20px 10px 0 10px;
  background-color: white;
  transition: all .3s ease-in-out;
  transform-origin: left center 0px;
  transform-style: preserve-3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 3px 10px 15px 3px #141414;
}

.book-static {
  margin: 20px 10px;
  height: 170px;
  transition: all .2s ease-in-out;
}

.book-static:hover {
  transform: scale(1.1);
}

/* tablet */
@media screen and (max-width:991px) {
  .book-static,
  .book-dynamic {
    height: 140px;
  }
  .wood-shelf {
    margin-bottom: 50px;
  }
  
}

/* phone */
@media screen and (max-width:575px) {
  .book-static,
  .book-dynamic {
    height: 125px;
  }
  .wood-shelf {
    margin-bottom: 20px;
  }
}

.book-dynamic:hover {
  cursor: pointer;
  transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
  -webkit-backface-visibility: hidden;
  box-shadow: 3px 10px 15px 3px #141414, 20px 8px 0 #eee;
}

.book-card {
  height: 200px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  display: inline-block;
  margin: 15px;

}
.book-card-cover {
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  backdrop-filter: blur(15px) ;
  border-radius: 25px;
  padding: 25px 20px;
}

.book {
  height: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-btn {
  position: fixed; 
  bottom: 40px; 
  right: 20px;
  z-index: 99; 
  width: 50px; 
  height: 50px;
  border-radius: 100%;
  border: 0 none;
  opacity: 0;
  transition: all 0.3s ease-in;
  cursor: pointer;
  color: #fff;
  background-color: rgba(170, 170, 170, .8);
}
/* phone */
@media screen and (max-width:575px) {
  .rounded-btn {
    width: 40px; 
    height: 40px;
  }
}
.rounded-btn.active {
  opacity: 1;
}
.rounded-btn.active:hover { 
  box-shadow:0px 0px 0px 5px rgba(170, 170, 170, 0.3);
}



